

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button mat-raised-button class="button" (click)="addTask()">Add Task</button>
</div>

<!-- Content -->
<div class="content overflow-x-auto" role="main" *ngIf="!loading">

  <table class="table-auto">
    <thead>
      <tr>
        <th>#</th>
        <th>Usuarios</th>
        <th>Titulo</th>
        <th>
          <div class="flex">
            Status <button (click)="orderByStatus()"><i class="fa-solid fa-bars"></i></button>
          </div>
        </th>
        <th>Fecha Limite</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let indexTask = index">
        <td>
          {{task.id}}
        </td>
        <td>
          <div style="margin-bottom: 5px;" *ngFor="let user of task.userData">
            *{{user.name}}({{user.age}})
            Habilidades:<p style="margin: 0;" *ngFor="let skill of user.skills">-{{skill}}</p>
          </div>
        </td>
        <td style="text-align: center;">
          {{task.title}}
        </td>
        <td>
          <div [ngSwitch]="task.completed">
            <span *ngSwitchCase="false">
              <label class="switch">
                <input type="checkbox" (click)="statusTask(indexTask)">
                <span class="slider round"></span>
              </label>
            </span>
            <span *ngSwitchCase="true">
              <label class="switch">
                <input type="checkbox" checked (click)="statusTask(indexTask)">
                <span class="slider round"></span>
              </label>
            </span>
          </div>
        </td>
        <td style="text-align: center;">
          {{task.dateLimit}}
        </td>
        <td>
          <div style="display: flex;">
            <button mat-raised-button (click)="updateTask(indexTask)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button mat-raised-button (click)="deleteTask(indexTask)"><i class="fa-sharp fa-solid fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="content" *ngIf="loading">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<router-outlet></router-outlet>
