<!-- <div class="modal">
    <p>modal works!</p>
</div> -->
<div id="modal1" class="modalmask">
    <div class="modalbox movedown">
        <a (click)="hide()">X</a>
        <h2>{{data.title}}</h2>
        <p>Nombre de la tarea:</p><input type="text" />
        <p>Fecha limite:</p><input type="date" />
        <hr/>
        <p>Personas Asociadas</p> 
        <select [(ngModel)]="userSelected">
            <option *ngFor="let user of data.userArray;"
                [ngValue]="user.id">{{user.name}}
            </option>
        </select>
        
        <button mat-raised-button >Eliminar Persona</button>
        <button mat-raised-button *ngIf="!showUser"(click)="addUser()">Agregar Persona</button>
        <button mat-raised-button *ngIf="showUser"(click)="addUser()">Cancelar</button>

        <div *ngIf="showUser">
            <p >Nombre Completo:</p><input [(ngModel)]="nameUser" type="text" />
            <p>Edad:</p><input [(ngModel)]="ageUser" type="number" />
            <button mat-raised-button (click)="addUserData()">Guardar Persona</button>
        </div>

        <p>Habilidades</p>
        <select [(ngModel)]="skillSelected">
            <option *ngFor="let skill of data.skills;"
                [ngValue]="skill.id">{{skill.name}}
            </option>
        </select>
        <button mat-raised-button >Eliminar Habilidad</button>
        <button mat-raised-button *ngIf="!showSkills"(click)="addSkill()">Agregar Habilidad</button>
        <button mat-raised-button *ngIf="showSkills"(click)="addSkill()">Cancelar</button>

        <div *ngIf="showSkills">
            <p>Nombre:</p><input type="text" />
            <button mat-raised-button>Guardar Habilidad</button>
        </div>
    </div>
</div>

