.modal {
    background: rgba(110, 107, 107, 0.9);
    color: #fff;
    position: fixed;
    top: 50%;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}
.modalmask {
    overflow-y: auto;
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:1;
}


/*Formato de la ventana*/


 
.modalmask:target .resize{
    width:400px;
    min-height:200px;
}

/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

.error{
    font-size: 11px;
    color: rgb(207, 46, 46);
}

.button {
    background: #1976d2;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
}

.button-delete{
    background: rgb(207, 46, 46);
    border-radius: 5px;
    color: white ;
}

.text{
    margin:5px;
}
